@import "tailwindcss";

@keyframes slow-pan {
  0% {
    transform: translate(0, 0) scale(1.1);
  }
  25% {
    transform: translate(-2%, -2%) scale(1.1);
  }
  50% {
    transform: translate(-4%, 0%) scale(1.1);
  }
  75% {
    transform: translate(-2%, 2%) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1.1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slow-pan {
  animation: slow-pan 60s ease-in-out infinite;
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
