@import "tailwindcss";

@keyframes slow-pan {
  0% {
    transform: translate(0, 0) scale(1.1);
  }
  25% {
    transform: translate(-2%, -2%) scale(1.1);
  }
  50% {
    transform: translate(-4%, 0%) scale(1.1);
  }
  75% {
    transform: translate(-2%, 2%) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1.1);
  }
}

.animate-slow-pan {
  animation: slow-pan 60s ease-in-out infinite;
}
